<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= resource.title %>
    </h5>
    <p class="card-text">
      <%= resource.description %>
    </p>
  </div>
  <div class="card-footer text-muted">
    Posted by: <%= resource.author %>
      <div>
        <!-- Average Rating
     should think how user can rate resource-->
        <!-- when working on styling should change these emojies for icons-->

        <div class="rating">
          ⭐⭐⭐⭐⭐
        </div>

        <!-- Comments Button -->
        <button>
          💬
        </button>

        <!-- Like Button -->
        <button>
          ❤️
        </button>
      </div>
  </div>

</div>
