<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>

    <main>
      <h1>Create New Card</h1>

      <form id="create-form" class="border p-4 rounded bg-light" method="POST" action="/api/resources">
        <!-- Card title -->
        <div>
          <label for="card-title">Card title</label>
          <input type="text" name="title" required>
        </div>

        <!-- Card description -->
        <div>
          <label for="card-description">Card description</label>
          <input type="text" name="description" required>
        </div>

        <!-- Link info -->
        <div>
          <label for="link-name">Resource Name</label>
          <input type="text" name="link[name]" id="link-name" class="form-control" required>
        </div>

        <div>
          <label for="link-url">URL</label>
          <input type="url" id="link-url" name="link[url]" class="form-control" required>
        </div>

        <div>
          <label for="link-description">Resource Description</label>
          <textarea id="link-description" name="link[description]" rows="3" class="form-control" required></textarea>
        </div>

        <!-- Choose topic -->
         <!-- hard coded topics for now-->
        <div>
          <label for="topic">Topic</label>
          <select id="topic" class="form-control" required>
            <option value="">Choose a topic</option>
            <option value="1">JavaScript</option>
            <option value="2">SQL</option>
            <option value="3">CSS</option>
            <option value="4">Design</option>
            <option value="5">Git</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit Resource</button>
      </form>
    </main>

</html>
