<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>



  <!-- Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- Masonry CDN -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>

<body>
    <%- include('partials/header') %>

<main class="container pt-5 mt-4">

  <!-- Search Bar -->
  <div class="search-bar mb-4 d-flex justify-content-center">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search resources..."
      style="max-width: 500px;"
    />
  </div>

  <h1 class="mb-4 text-center">Browse</h1>


  <!-- Masonry Grid -->
  <div
    class="masonry-grid"
    data-masonry='{"itemSelector": ".masonry-item", "gutter": 16}'
  >
    <% for (let i = 0; i < 10; i++) { %>
      <div class="masonry-item">
        <%- include('partials/resource_card', {
          resource: {
            title: `Resource name`,
            description: 'Card description',
            url: '#',
            author: 'User'
          }
        }) %>
      </div>
    <% } %>
  </div>
</main>

  </body>
</html>
