<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
<main>
  <h1>Profile</h1>

  <div class="card p-4" style="max-width: 500px; margin: auto;">

    <button>Edit</button>

    <p><strong>Name:</strong> <span><%= user.name %></span></p>
    <p><strong>Email:</strong> <span><%= user.email %></span></p>

  </div>
  </main>
</html>
