<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
<main class="my-resources">
    <!-- Created Resources -->
  <section class="added-resources">
    <h2>Your Resources</h2>
     <% if (userResources.length > 0) { %>
      <div class="resource-grid">
        <% userResources.forEach(resource => { %>
          <%- include('partials/resource_card', { resource, likedResourceIds, ratingsMap }) %>
        <% }) %>
      </div>
    <% } else { %>
      <p>You haven't added any resources yet.</p>
    <% } %>
  </section>

  <!-- Liked Resources -->
  <section class="liked=resources">
    <h2>Your Likes</h2>
    <% if (likedResources.length > 0) { %>
    <div class="resource-grid">
      <% likedResources.forEach(resource => { %>
        <%- include('partials/resource_card', { resource, likedResourceIds, ratingsMap}) %>
      <% }) %>
    </div>
    <% } else { %>
      <p>You haven't liked any resources yet.</p>
    <% } %>
  </section>
  </main>
</html>
