<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
<main>
    <!-- Created Resources -->
  <section >
    <h2>Your Resources</h2>
    <div>
      <% userResources.forEach(resource => { %>
        <%- include('partials/resource_card', { resource }) %>
      <% }) %>
    </div>
  </section>

  <!-- Liked Resources -->
  <section >
    <h2>Your Likes</h2>
    <div>
      <% likedResources.forEach(resource => { %>
        <%- include('partials/resource_card', { resource }) %>
      <% }) %>
    </div>
  </section>
  </main>
</html>
