body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}


// My resources page
.my-resources-container {
  display: flex;
  flex-direction: column;

}

.my-resources {
    align-self: center;
    margin: 3em;

    .added-resources {
      margin-bottom: 5em;
    }
  }

.resource-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
  }

// resource-card styling
@import 'partials/resource_card';
@import './full_card'
